@mixin displayFlex($align-items: center, $justify-content: space-between){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin textStyle($color:#22343D, $font-weight:400, $font-size:16px, $line-height:28px){
    color: $color;
    font-family: Poppins, sans-serif;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin headerBtn(){
    padding: 10px 23px;
    border-radius: 4px;
}

@mixin btnStyle($padding: 15px 41px, $background: #02897A, $border-radius:4px, $font-weight: 700, $color:#FFF){
    color: $color;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
    padding: $padding;
    border-radius: $border-radius;
    background: $background;
    border: 1px solid #BCD0E5;
}

@mixin transition{
    transition: all 0.4s ease;
}

@mixin hoverDefault{
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
    background: #02897A;
    border: 1px solid #BCD0E5;
}

@mixin hover{
    background-color:transparent;
    color: #173A56;
    border: 1px solid #BCD0E5;
}